@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

:root {
    /* ### Primary */
    --Cyan: hsl(179, 62%, 43%);
    --Light__Cyan: hsl(179, 47%, 52%);
    --Bright__Yellow: hsl(71, 73%, 54%);

    /* ### Neutral */
    --Light__Gray: hsl(204, 43%, 93%);
    --Grayish__Blue: hsl(218, 22%, 67%);
    --White: hsl(0, 0%, 100%);
    }

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--Light__Gray);
    margin: 0em 2em;
}


.card__container {
    border-radius: 1em;
    overflow: hidden;
    width: 100%;
    max-width: 637px;
    background-color: var(--White);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card__community,
.card__subscription,
.card__advertising {
    padding: 2.5em;
}

.card__community {
    grid-column: 1 / 3;
}

.card__community__title {
    color: var(--Cyan);
}

.card__community__guarantee {
    display: block;
    color: var(--Bright__Yellow);
    font-weight: 700;
    margin: 1.4em 0em .81em 0em;
    font-size: 1.1em;
}

.card__community__paragraph {
    color: var(--Grayish__Blue);
    line-height: 1.6em;
}

.card__subscription {
    background-color: var(--Cyan);
}

.card__subscription__title {
    font-size: 1.1em;
    color: var(--White);
}

.card__subscription__price__main {
    margin: 1em 0em .5em 0em;
    display: flex;
    align-items: center;
    gap: .5em;
}

.price__main__value {
    color: var(--White);
    font-size: 2em;
    font-weight: 700;
}

.price__main__period {
    color: var(--Light__Gray);
}

.card__subscription__price__description {
    color: var(--White);
}

.card__subscription__btn__sign__up {
    width: 100%;
    min-height: 49px;
    background-color: var(--Bright__Yellow);
    border-radius: .5rem;
    color: var(--White);
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition:0.2s ease;
    cursor: pointer;
    margin-top: 2.1em;
    font-size: .9em;
}

.card__subscription__btn__sign__up:active {
    transform: scale(0.96);
}

.card__advertising {
    background-color: var(--Light__Cyan);
}

.card__advertising__title {
    font-size: 1.1em;
    color: var(--White);
}

.card__advertising__options {
    list-style: none;
    margin-top: 1em;
    line-height: 1.28rem;
}

.option {
    color: var(--Light__Gray);
    font-size: .85em;
}

.attribution {
    display: block;
    position: absolute;
    margin-top: 64em;
    font-size: .9rem;
    padding: .5rem;
    text-align: center;
}

.attribution a {
    color: var(--Light__Cyan);
    font-weight: 700;
}

@media (max-width:560px) {
    body {
        font-size: .91em;
    }

    .card__container {
        display: block;
    }

    .attribution {
        position: unset;
        margin-top: 10em;
    }
}

